#imagenPerfilNavbar {
  width: 40px;
  height: 40px;
}

/* PALETA COLORES #FABC3C #FFB238 #F19143 #FF773D #F55536 */

/* ------------------------------------------------------ ESTILOS DETALLES DE EVENTO ------------------------- */
#navbarstyle {
  background-color: #1A375A;
}

body {
  background: #f0eeee;
  /* background-image: url('https://img.freepik.com/foto-gratis/herramientas-deportivas_53876-138077.jpg?w=1380&t=st=1663466718~exp=1663467318~hmac=b5d78e63350252ad247469a1e20f10a74665a66bb1b365ec643711c1fc6eebc7'); */
  background-image: url('https://images.unsplash.com/photo-1559692048-79a3f837883d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
  background-size: cover;
}

/* #estilofondohome {
  background-image: url('https://images.unsplash.com/photo-1559692048-79a3f837883d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
  background-size: cover;
} */

body #bgdetalles {
  height: 100%;
  background-color: #ffd5b3;
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black;
}

/* -------------- fin estilos detalles evento -------------- */

/* ----------- ESTILOS DETALLES EVENTO ADMINISTRADOR --------------- */
#bgdetallesadmin {
  background-color: #fafafa;
  border: solid black;
  border-style: 2px solid;
  border-radius: 2%;
}

#estilosdatos {
  border: solid 2px black;
  border-bottom: none;
}

#estilosdatos1 {
  border: solid 2px black;
}

/* ---------------- fin estilos detalles evento administrador ------------ */


/* ---------------------------------- ESTILOS DE PERFIL------------------------------- */
#estilosperfil {
  background: #fafafa;
  box-shadow: 5px 10px 5px black;
  border-radius: 2%;
}

#estilofondoperfil {
  background: #2F3768;
  box-shadow: 4px 4px 4px 4px black;
  border-radius: 2%;
}

#estilofondofiltros {
  background: #1A375A;
  box-shadow: 1px 1px 0px 1px rgb(182, 176, 176);
  border-radius: 2%;
}

/* #estilodivs {
  box-shadow: 1px 1px 1px 1px black;

} */

#estilotitulo {
  background: #E9E5DF;
  text-align: center;
}

/* -------------------------------(final estilos perfil------------------------------------------------ */

/* ---------------------------- ESTILO BOTON EDITAR ---------------- */
#botoneditar {
  color: white;

}

#botoneditar::hover {
  color: yellow;
}

/* ---------- final boton editar -------------- */

/* -------------     ESTILOS PAGINA CENTRAL ----------------- */
.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

.tablapaginacentral {
  margin-top: 1%;
  position: relative;
  height: 540px;
  overflow: auto;
}

/* ---------- fin estilos pagina central ------------- */
#btnnavbar {
  background-color: #BB723A;
  color: white;
}