#loginstyle {
  background: url(https://i.ibb.co/Dkp724b/background.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
#letrasLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-wrap-login {
  position: relative;
  text-align: center;
}
.text-wrap-login h1 {
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
  font-size: 7.5em;
  line-height: 1.2em;
}
@media screen and (max-width: 1100px) {
  .text-wrap-login h1 {
    font-size: 5.5em;
    line-height: 1.1em;
  }
}
@media screen and (max-width: 770px) {
  .text-wrap-login h1 {
    font-size: 4.9em;
    line-height: 1em;
  }
}
@media screen and (max-width: 320px) {
  .text-wrap-login h1 {
    font-size: 3.2em;
    line-height: 0.8em;
  }
}

.text-login {
  mix-blend-mode: overlay;
}
.text-wrap-login .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: soft-light;
  color: #fff;
}
.text-wrap-login .colored {
  color: #ffd713;
}

#cardLogin {
  background-color: #1a375a;
  opacity: 0.7;
  box-shadow: 6px 20px 10px black;
}
#btnLogin {
  width: 300px;
  background-color: #a5a2a2;
  border: 1px solid #fefefe;
  color: #1a375a;
}

#btnLogin:hover {
  opacity: 0.9;
  background-color: #ffd713;
}
