#fondodecrearevento {
  margin-top: 5%;
  width: 800px;
  height: 400px;
  padding: 1%;
  background-color: azure;
  border-radius: 25px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

#fechastyle {
  width: 5%;
}

.fondonewevent {
  background-image: url("https://images.unsplash.com/photo-1519482012999-d984ed6474d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  flex-direction: column;
  min-height: 100vh;
}

#estilotitulonewevento {
  -webkit-text-stroke: 1px black;
  color: transparent;
}

#btncrearevento {
  background-color: #bb723a;
  color: white;
  width: 200px;
}
#btncrearevento:hover {
  background-color: #ffd713;
  transform: scale(1.1);
  color: #1a375a;
  width: 200px;
}
